section{
    // background: red;
    display: flex;
    .main_section_one{
        width: 75%;
        background: $mainDivColorTwo;
        margin-top: 60px;


        .resto_info{
            display: flex;
            @include resetDiv;
            background:$mainColorOne;
            border-radius: 15px;
            .resto_image{
                width: 25%;
                padding-left: 5px;
                border-radius: 20px;
                // background: red;
                img{
                    width: 100%;
                    height: 96%;
                    margin-top: 6px;
                    border-radius: 15px;
                }

            }
            .resto_info_detail{
                display: flex;
                width: 50%;
                // background: red;
                margin-left: 8px;
                padding-top: 110px;
                // line-height: 10px;
                .resto_info_paragraph{
                    margin: 5px auto;
                    padding-left: 90px;
                    
                    h1{
                        color: $h1Color;
                        font-size: 35px;
                        font-weight: 900;
                    }
                    .resto_info_sub_paragraph{
                        display: flex;
                        .resto_info_image{
                            width: 9%;
                            height: 4%;
                            margin-left: 10px;
                            // background: rgb(189, 245, 23);
                            img{
                                width: 100%;
                                height: 100%;
                               
                            }
                        }
                    }
                    p{
                        color:$mainDivColorTwo;
                        font-weight: 500;
                        font-size: 18px;
                    }
                }
            }
            .resto_info_more{
                display: flex;
                gap: 15px;
                margin: 20% 0 0 90px;
                transition: 0.5s;
                // @include button;
                &:hover{
                    .resto_info_icon{
                        i{
                            transform: translateX(15px);
                            color: white;
                        }
                    } 
                }
                .resto_info_link{
                    button{
                        border: none;
                        outline: none;
                        background:none;
                        font-size: 18px;
                        a{
                            text-decoration: none; 
                            color:$buttonColorTwo; 
                        }
                    }
                }
                .resto_info_icon{
                    margin-top: 3px;
                    @include button;
                    i{
                        color: $buttonColorTwo
                    }
                }
            }
        }


        .special_offer{
            display: flex;
            @include resetDiv;
            margin-top: 50px;
            // background: palevioletred;
            .special_item{
                display: flex;
                width: 50%;
                // background: rgb(137, 182, 218);
                span{
                    font-size: 35px;
                    font-weight: 700;
                    margin-top: 10px;
                }
                .special_hamburger{
                    width: 8.5%;
                    height: 85%;
                    margin-top: 9.6px;
                    margin-left: 8px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .special_delivery{
                display: flex;
                width: 20%;
                background: $buttonColorTwo;
                margin-left: 385px;
                padding-top: 16px;
                gap: 15px;
                border-radius: 30px;
                .delivery_icon_one{
                    font-size: 16px;
                    margin-left: 19px;
                    @include button;
                    i{
                        color: $mainColorTwo;
                    }
                }
                .delivery_text{
                    span{
                        font-size: 17px;
                        font-weight: 400;
                        color: $mainColorTwo;
                    } 
                }
                .delivery_icon_two{
                    font-size: 16px;
                    @include button;
                    i{
                        color:$mainColorTwo;
                    }
                }
            }
        }


        .menu_section{
            @include resetDiv;
            // background: blue;
            margin-top: 60px;
            display: flex;
            gap: 18px;
            .sub_menu_section{
                width: 8%;
                height: 22vh;
                // background: $mainColorTwo;
                background: red;
                border-radius: 25px;
                // border: 1px solid palevioletred;
                margin-top: 10px;
                &:hover{
                    background: rgb(16, 157, 11);
                    transform: translateY(-20px);
                }
                @include button;
                .menu_section_image{
                    width: 75%;
                    height: 38%;
                    background: white;
                    border: 3px solid lightgray;
                    border-radius: 50%;
                    position: relative;
                    top: 10px;
                    left: 10px;
                    i{
                        margin: 10px 0 0 16px ;
                        font-size: 30px;

                    }
                }
                .menu_section_text{
                    margin: 35px 0 0 21px;
                    span{
                        font-size:18px;
                    }
                    
                }
                .man_menu_section_text{
                    margin: 35px 0 0 16px;
                    span{
                        font-size: 18px;
                    }
                }
                .Barbecue_menu_section_text{
                    margin: 35px 0 0 10px;
                    span{
                        font-size: 18px;
                    }
                }
                .fish_menu_section_text{
                    margin: 35px 0 0 14px;
                    span{
                        font-size: 18px;
                    }
                }
                .Shrimp_menu_section_text{
                    margin: 35px 0 0 23px;
                    span{
                        font-size: 18px;
                    }
                }

                .drinks_menu_section_text{
                    margin: 35px 0 0 18px;
                    span{
                        font-size: 18px;
                    }
                }
                
            }
            button{
                width: 44px;
                height: 5.5vh;
                margin: 71px 0 0 87px;
                border-radius: 10px;
                @include button;
                border: none;
                &:hover{
                    background: $buttonColorTwo;
                }
            }

        }
        
        
        // Category of foods 
        .global_food{
            // display: none;
            @include resetDiv;
            // background: rgb(79, 234, 36);
            .main_food{
                display: flex;
                gap: 39px;
                margin-top: 80px;
                margin-bottom: 110px;
                .available_food{
                    width: 30.6%;
                    height: 25vh;
                    // background: red;
                    border-radius: 20px;
                    transition: 0.5s;
                    &:hover{
                       transform: scale(1.2);
                       z-index: 1; 
                    }
                    .available_food_image{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        // background: palevioletred;
                        // border: 1px solid lightgray;
                        
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 20px;
                        }
                        p{
                            width: 24%;
                            height: 18%;
                            background:$mainDivColorOne;
                            margin-top: -34px;
                            margin-left: 0px;
                            position: absolute;
                            text-align: center;
                            padding-top: 8px;
                            border-bottom-left-radius:10px;
                            border-top-right-radius: 10px;
                        }
                    }
                    .available_food_description{
                        margin-top: 12px;
                        .available_food_description_sub1{
                            h1{
                                font-size: 19px;
                            }
                        }
                        .available_food_description_sub2{
                            display: flex;
                            margin-top: 10px;
                            gap: 10px;
                            p{
                                
                            }
                            span{
                                color: $pColor;
                            }
                        }
                    }
                }
            }
        }

        .pizza_food{
             display: none;
            @include resetDiv;
            .pizaa{
                @include foodReset;
                @include mainFood;
            }
        }

        .asian_food{
            // display: none;
            @include resetDiv;
            // background: rgb(79, 234, 36);
            .Asian{
                @include foodReset;
                @include mainFood;
            }
        }

        .burger_food{
            @include resetDiv;
            display: none;
            .burger{
                @include foodReset;
                @include mainFood;
            }
        }

        .Barbecue_food{
            display: none;
            @include resetDiv;
            .Barbecue{
                @include foodReset;
                @include mainFood;
            }
        }

        .dessert_food{
            display: none;
            @include resetDiv;
            .dessert{
                @include foodReset;
                @include mainFood;
            }
        }

        .sea_food{
            display: none;
            @include resetDiv;
            .seafood{
                @include foodReset;
                @include mainFood;
            }
        }

        .salad_food{
            @include resetDiv;
            display: none;
            .salad{
                @include foodReset;
                @include mainFood; 
            }
        }

        .Drinks_grupe{
            display: none;
            @include resetDiv;
             .drinks{
                @include foodReset;
                @include mainFood;
             }
        }

        // this is one
    }

    




    .main_section_two{
        width: 25%;
        background: rgba(173, 173, 172, 0.144);
        margin-top: 60px;
        h1{
            text-align: center;
            font-size: 30px;
            font-weight: 700;
            text-transform: capitalize;
            color: $h1Color;
            margin-top: 2px;
        }
        .main_image{
            width: 64%;
            height: 30vh;
            margin: 20px 0 0 72px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
        .main_btn{
            margin: 12.4em 0 0 50px;
            border-radius: 10px;
            // background: red;
            button{
                position: relative;
                display: flex;
                justify-content: center;
                width: 90%;
                font-size: 25px;
                padding: 20px;
                border-radius: 10px;
                text-transform: capitalize;
                border: none;
                outline: none;
                color: $mainColorTwo;
                background: $buttonColorTwo;
                letter-spacing: 0.1em;
                @include button;
                
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(18, 127, 210, 0.762);
                    border-radius: 10px;
                    transform: scaleX(0);
                    transition: transform 0.5s ease-in-out;
                    transform-origin: right;
                }
                &:hover::before{
                    transform: scaleX(1);
                    transform-origin: left;
                    border-radius: 10px;
                }
                span{
                    display: inline-block;
                    z-index: 2;
                }
            }
        }
    }
}