* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .restaurant_header {
  width: 75%;
  display: flex;
  margin-top: 9px;
  justify-content: space-between;
}
header .restaurant_header .header_icon_text {
  display: flex;
  padding: 20px;
  width: 30%;
  gap: 80px;
}
header .restaurant_header .header_icon_text i {
  cursor: pointer;
  font-size: 25px;
  padding-left: 20px;
}
header .restaurant_header .header_icon_text p {
  font-size: 25px;
  padding-left: 20px;
  font-weight: 800;
}
header .restaurant_header .header_search {
  width: 55%;
  margin: 10px 70px 0 0;
}
header .restaurant_header .header_search i {
  font-size: 22px;
  top: 16px;
  padding-left: 20px;
  position: relative;
  z-index: 1;
}
header .restaurant_header .header_search input {
  width: 100%;
  height: 5.5vh;
  padding-left: 60px;
  margin-top: -17px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgba(95, 93, 93, 0.847);
  background: #9EA1A1;
  transition: 0.5s;
  border: none;
  outline: none;
}
header .restaurant_header .header_search input::-moz-placeholder {
  color: #F5F8F3;
}
header .restaurant_header .header_search input:-ms-input-placeholder {
  color: #F5F8F3;
}
header .restaurant_header .header_search input::placeholder {
  color: #F5F8F3;
}
header .restaurant_header .header_search input:focus {
  background: #FFFFFF;
}
header .restaurant_header_two {
  width: 25%;
  display: flex;
  margin-top: 7px;
  padding-left: 16%;
  gap: 35px;
  padding-top: 24px;
}
header .restaurant_header_two .profile_pic i {
  cursor: pointer;
  font-size: 30px;
}
header .restaurant_header_two .right_user_icon button {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  margin-top: -9px;
  border-radius: 15px;
  background-color: #FA801B;
  border: none;
}

section {
  display: flex;
}
section .main_section_one {
  width: 75%;
  background: #F5F8F3;
  margin-top: 60px;
}
section .main_section_one .resto_info {
  display: flex;
  width: 92%;
  margin-left: 3%;
  background: rgba(244, 149, 17, 0.5333333333);
  border-radius: 15px;
}
section .main_section_one .resto_info .resto_image {
  width: 25%;
  padding-left: 5px;
  border-radius: 20px;
}
section .main_section_one .resto_info .resto_image img {
  width: 100%;
  height: 96%;
  margin-top: 6px;
  border-radius: 15px;
}
section .main_section_one .resto_info .resto_info_detail {
  display: flex;
  width: 50%;
  margin-left: 8px;
  padding-top: 110px;
}
section .main_section_one .resto_info .resto_info_detail .resto_info_paragraph {
  margin: 5px auto;
  padding-left: 90px;
}
section .main_section_one .resto_info .resto_info_detail .resto_info_paragraph h1 {
  color: #DE590B;
  font-size: 35px;
  font-weight: 900;
}
section .main_section_one .resto_info .resto_info_detail .resto_info_paragraph .resto_info_sub_paragraph {
  display: flex;
}
section .main_section_one .resto_info .resto_info_detail .resto_info_paragraph .resto_info_sub_paragraph .resto_info_image {
  width: 9%;
  height: 4%;
  margin-left: 10px;
}
section .main_section_one .resto_info .resto_info_detail .resto_info_paragraph .resto_info_sub_paragraph .resto_info_image img {
  width: 100%;
  height: 100%;
}
section .main_section_one .resto_info .resto_info_detail .resto_info_paragraph p {
  color: #F5F8F3;
  font-weight: 500;
  font-size: 18px;
}
section .main_section_one .resto_info .resto_info_more {
  display: flex;
  gap: 15px;
  margin: 20% 0 0 90px;
  transition: 0.5s;
}
section .main_section_one .resto_info .resto_info_more:hover .resto_info_icon i {
  transform: translateX(15px);
  color: white;
}
section .main_section_one .resto_info .resto_info_more .resto_info_link button {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
}
section .main_section_one .resto_info .resto_info_more .resto_info_link button a {
  text-decoration: none;
  color: #FA801B;
}
section .main_section_one .resto_info .resto_info_more .resto_info_icon {
  margin-top: 3px;
  cursor: pointer;
}
section .main_section_one .resto_info .resto_info_more .resto_info_icon i {
  color: #FA801B;
}
section .main_section_one .special_offer {
  display: flex;
  width: 92%;
  margin-left: 3%;
  margin-top: 50px;
}
section .main_section_one .special_offer .special_item {
  display: flex;
  width: 50%;
}
section .main_section_one .special_offer .special_item span {
  font-size: 35px;
  font-weight: 700;
  margin-top: 10px;
}
section .main_section_one .special_offer .special_item .special_hamburger {
  width: 8.5%;
  height: 85%;
  margin-top: 9.6px;
  margin-left: 8px;
}
section .main_section_one .special_offer .special_item .special_hamburger img {
  width: 100%;
  height: 100%;
}
section .main_section_one .special_offer .special_delivery {
  display: flex;
  width: 20%;
  background: #FA801B;
  margin-left: 385px;
  padding-top: 16px;
  gap: 15px;
  border-radius: 30px;
}
section .main_section_one .special_offer .special_delivery .delivery_icon_one {
  font-size: 16px;
  margin-left: 19px;
  cursor: pointer;
}
section .main_section_one .special_offer .special_delivery .delivery_icon_one i {
  color: #FFFFFF;
}
section .main_section_one .special_offer .special_delivery .delivery_text span {
  font-size: 17px;
  font-weight: 400;
  color: #FFFFFF;
}
section .main_section_one .special_offer .special_delivery .delivery_icon_two {
  font-size: 16px;
  cursor: pointer;
}
section .main_section_one .special_offer .special_delivery .delivery_icon_two i {
  color: #FFFFFF;
}
section .main_section_one .menu_section {
  width: 92%;
  margin-left: 3%;
  margin-top: 60px;
  display: flex;
  gap: 18px;
}
section .main_section_one .menu_section .sub_menu_section {
  width: 8%;
  height: 22vh;
  background: red;
  border-radius: 25px;
  margin-top: 10px;
  cursor: pointer;
}
section .main_section_one .menu_section .sub_menu_section:hover {
  background: rgb(16, 157, 11);
  transform: translateY(-20px);
}
section .main_section_one .menu_section .sub_menu_section .menu_section_image {
  width: 75%;
  height: 38%;
  background: white;
  border: 3px solid lightgray;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 10px;
}
section .main_section_one .menu_section .sub_menu_section .menu_section_image i {
  margin: 10px 0 0 16px;
  font-size: 30px;
}
section .main_section_one .menu_section .sub_menu_section .menu_section_text {
  margin: 35px 0 0 21px;
}
section .main_section_one .menu_section .sub_menu_section .menu_section_text span {
  font-size: 18px;
}
section .main_section_one .menu_section .sub_menu_section .man_menu_section_text {
  margin: 35px 0 0 16px;
}
section .main_section_one .menu_section .sub_menu_section .man_menu_section_text span {
  font-size: 18px;
}
section .main_section_one .menu_section .sub_menu_section .Barbecue_menu_section_text {
  margin: 35px 0 0 10px;
}
section .main_section_one .menu_section .sub_menu_section .Barbecue_menu_section_text span {
  font-size: 18px;
}
section .main_section_one .menu_section .sub_menu_section .fish_menu_section_text {
  margin: 35px 0 0 14px;
}
section .main_section_one .menu_section .sub_menu_section .fish_menu_section_text span {
  font-size: 18px;
}
section .main_section_one .menu_section .sub_menu_section .Shrimp_menu_section_text {
  margin: 35px 0 0 23px;
}
section .main_section_one .menu_section .sub_menu_section .Shrimp_menu_section_text span {
  font-size: 18px;
}
section .main_section_one .menu_section .sub_menu_section .drinks_menu_section_text {
  margin: 35px 0 0 18px;
}
section .main_section_one .menu_section .sub_menu_section .drinks_menu_section_text span {
  font-size: 18px;
}
section .main_section_one .menu_section button {
  width: 44px;
  height: 5.5vh;
  margin: 71px 0 0 87px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
section .main_section_one .menu_section button:hover {
  background: #FA801B;
}
section .main_section_one .global_food {
  width: 92%;
  margin-left: 3%;
}
section .main_section_one .global_food .main_food {
  display: flex;
  gap: 39px;
  margin-top: 80px;
  margin-bottom: 110px;
}
section .main_section_one .global_food .main_food .available_food {
  width: 30.6%;
  height: 25vh;
  border-radius: 20px;
  transition: 0.5s;
}
section .main_section_one .global_food .main_food .available_food:hover {
  transform: scale(1.2);
  z-index: 1;
}
section .main_section_one .global_food .main_food .available_food .available_food_image {
  width: 100%;
  height: 100%;
  position: relative;
}
section .main_section_one .global_food .main_food .available_food .available_food_image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
section .main_section_one .global_food .main_food .available_food .available_food_image p {
  width: 24%;
  height: 18%;
  background: #DBDED9;
  margin-top: -34px;
  margin-left: 0px;
  position: absolute;
  text-align: center;
  padding-top: 8px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
section .main_section_one .global_food .main_food .available_food .available_food_description {
  margin-top: 12px;
}
section .main_section_one .global_food .main_food .available_food .available_food_description .available_food_description_sub1 h1 {
  font-size: 19px;
}
section .main_section_one .global_food .main_food .available_food .available_food_description .available_food_description_sub2 {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
section .main_section_one .global_food .main_food .available_food .available_food_description .available_food_description_sub2 span {
  color: #9EA1A1;
}
section .main_section_one .pizza_food {
  display: none;
  width: 92%;
  margin-left: 3%;
}
section .main_section_one .pizza_food .pizaa {
  display: flex;
  gap: 39px;
  margin-top: 40px;
  margin-bottom: 110px;
}
section .main_section_one .pizza_food .pizaa .available_food {
  width: 30.6%;
  height: 25vh;
  border-radius: 20px;
  transition: 0.5s;
}
section .main_section_one .pizza_food .pizaa .available_food:hover {
  transform: scale(1.2);
  z-index: 1;
}
section .main_section_one .pizza_food .pizaa .available_food .available_food_image {
  width: 100%;
  height: 100%;
  position: relative;
}
section .main_section_one .pizza_food .pizaa .available_food .available_food_image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
section .main_section_one .pizza_food .pizaa .available_food .available_food_image p {
  width: 24%;
  height: 18%;
  background: #DBDED9;
  margin-top: -34px;
  margin-left: 0px;
  position: absolute;
  text-align: center;
  padding-top: 8px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
section .main_section_one .pizza_food .pizaa .available_food .available_food_description {
  margin-top: 12px;
}
section .main_section_one .pizza_food .pizaa .available_food .available_food_description .available_food_description_sub1 h1 {
  font-size: 19px;
}
section .main_section_one .pizza_food .pizaa .available_food .available_food_description .available_food_description_sub2 {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
section .main_section_one .pizza_food .pizaa .available_food .available_food_description .available_food_description_sub2 span {
  color: #9EA1A1;
}
section .main_section_one .asian_food {
  width: 92%;
  margin-left: 3%;
}
section .main_section_one .asian_food .Asian {
  display: flex;
  gap: 39px;
  margin-top: 40px;
  margin-bottom: 110px;
}
section .main_section_one .asian_food .Asian .available_food {
  width: 30.6%;
  height: 25vh;
  border-radius: 20px;
  transition: 0.5s;
}
section .main_section_one .asian_food .Asian .available_food:hover {
  transform: scale(1.2);
  z-index: 1;
}
section .main_section_one .asian_food .Asian .available_food .available_food_image {
  width: 100%;
  height: 100%;
  position: relative;
}
section .main_section_one .asian_food .Asian .available_food .available_food_image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
section .main_section_one .asian_food .Asian .available_food .available_food_image p {
  width: 24%;
  height: 18%;
  background: #DBDED9;
  margin-top: -34px;
  margin-left: 0px;
  position: absolute;
  text-align: center;
  padding-top: 8px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
section .main_section_one .asian_food .Asian .available_food .available_food_description {
  margin-top: 12px;
}
section .main_section_one .asian_food .Asian .available_food .available_food_description .available_food_description_sub1 h1 {
  font-size: 19px;
}
section .main_section_one .asian_food .Asian .available_food .available_food_description .available_food_description_sub2 {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
section .main_section_one .asian_food .Asian .available_food .available_food_description .available_food_description_sub2 span {
  color: #9EA1A1;
}
section .main_section_one .burger_food {
  width: 92%;
  margin-left: 3%;
  display: none;
}
section .main_section_one .burger_food .burger {
  display: flex;
  gap: 39px;
  margin-top: 40px;
  margin-bottom: 110px;
}
section .main_section_one .burger_food .burger .available_food {
  width: 30.6%;
  height: 25vh;
  border-radius: 20px;
  transition: 0.5s;
}
section .main_section_one .burger_food .burger .available_food:hover {
  transform: scale(1.2);
  z-index: 1;
}
section .main_section_one .burger_food .burger .available_food .available_food_image {
  width: 100%;
  height: 100%;
  position: relative;
}
section .main_section_one .burger_food .burger .available_food .available_food_image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
section .main_section_one .burger_food .burger .available_food .available_food_image p {
  width: 24%;
  height: 18%;
  background: #DBDED9;
  margin-top: -34px;
  margin-left: 0px;
  position: absolute;
  text-align: center;
  padding-top: 8px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
section .main_section_one .burger_food .burger .available_food .available_food_description {
  margin-top: 12px;
}
section .main_section_one .burger_food .burger .available_food .available_food_description .available_food_description_sub1 h1 {
  font-size: 19px;
}
section .main_section_one .burger_food .burger .available_food .available_food_description .available_food_description_sub2 {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
section .main_section_one .burger_food .burger .available_food .available_food_description .available_food_description_sub2 span {
  color: #9EA1A1;
}
section .main_section_one .Barbecue_food {
  display: none;
  width: 92%;
  margin-left: 3%;
}
section .main_section_one .Barbecue_food .Barbecue {
  display: flex;
  gap: 39px;
  margin-top: 40px;
  margin-bottom: 110px;
}
section .main_section_one .Barbecue_food .Barbecue .available_food {
  width: 30.6%;
  height: 25vh;
  border-radius: 20px;
  transition: 0.5s;
}
section .main_section_one .Barbecue_food .Barbecue .available_food:hover {
  transform: scale(1.2);
  z-index: 1;
}
section .main_section_one .Barbecue_food .Barbecue .available_food .available_food_image {
  width: 100%;
  height: 100%;
  position: relative;
}
section .main_section_one .Barbecue_food .Barbecue .available_food .available_food_image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
section .main_section_one .Barbecue_food .Barbecue .available_food .available_food_image p {
  width: 24%;
  height: 18%;
  background: #DBDED9;
  margin-top: -34px;
  margin-left: 0px;
  position: absolute;
  text-align: center;
  padding-top: 8px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
section .main_section_one .Barbecue_food .Barbecue .available_food .available_food_description {
  margin-top: 12px;
}
section .main_section_one .Barbecue_food .Barbecue .available_food .available_food_description .available_food_description_sub1 h1 {
  font-size: 19px;
}
section .main_section_one .Barbecue_food .Barbecue .available_food .available_food_description .available_food_description_sub2 {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
section .main_section_one .Barbecue_food .Barbecue .available_food .available_food_description .available_food_description_sub2 span {
  color: #9EA1A1;
}
section .main_section_one .dessert_food {
  display: none;
  width: 92%;
  margin-left: 3%;
}
section .main_section_one .dessert_food .dessert {
  display: flex;
  gap: 39px;
  margin-top: 40px;
  margin-bottom: 110px;
}
section .main_section_one .dessert_food .dessert .available_food {
  width: 30.6%;
  height: 25vh;
  border-radius: 20px;
  transition: 0.5s;
}
section .main_section_one .dessert_food .dessert .available_food:hover {
  transform: scale(1.2);
  z-index: 1;
}
section .main_section_one .dessert_food .dessert .available_food .available_food_image {
  width: 100%;
  height: 100%;
  position: relative;
}
section .main_section_one .dessert_food .dessert .available_food .available_food_image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
section .main_section_one .dessert_food .dessert .available_food .available_food_image p {
  width: 24%;
  height: 18%;
  background: #DBDED9;
  margin-top: -34px;
  margin-left: 0px;
  position: absolute;
  text-align: center;
  padding-top: 8px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
section .main_section_one .dessert_food .dessert .available_food .available_food_description {
  margin-top: 12px;
}
section .main_section_one .dessert_food .dessert .available_food .available_food_description .available_food_description_sub1 h1 {
  font-size: 19px;
}
section .main_section_one .dessert_food .dessert .available_food .available_food_description .available_food_description_sub2 {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
section .main_section_one .dessert_food .dessert .available_food .available_food_description .available_food_description_sub2 span {
  color: #9EA1A1;
}
section .main_section_one .sea_food {
  display: none;
  width: 92%;
  margin-left: 3%;
}
section .main_section_one .sea_food .seafood {
  display: flex;
  gap: 39px;
  margin-top: 40px;
  margin-bottom: 110px;
}
section .main_section_one .sea_food .seafood .available_food {
  width: 30.6%;
  height: 25vh;
  border-radius: 20px;
  transition: 0.5s;
}
section .main_section_one .sea_food .seafood .available_food:hover {
  transform: scale(1.2);
  z-index: 1;
}
section .main_section_one .sea_food .seafood .available_food .available_food_image {
  width: 100%;
  height: 100%;
  position: relative;
}
section .main_section_one .sea_food .seafood .available_food .available_food_image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
section .main_section_one .sea_food .seafood .available_food .available_food_image p {
  width: 24%;
  height: 18%;
  background: #DBDED9;
  margin-top: -34px;
  margin-left: 0px;
  position: absolute;
  text-align: center;
  padding-top: 8px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
section .main_section_one .sea_food .seafood .available_food .available_food_description {
  margin-top: 12px;
}
section .main_section_one .sea_food .seafood .available_food .available_food_description .available_food_description_sub1 h1 {
  font-size: 19px;
}
section .main_section_one .sea_food .seafood .available_food .available_food_description .available_food_description_sub2 {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
section .main_section_one .sea_food .seafood .available_food .available_food_description .available_food_description_sub2 span {
  color: #9EA1A1;
}
section .main_section_one .salad_food {
  width: 92%;
  margin-left: 3%;
  display: none;
}
section .main_section_one .salad_food .salad {
  display: flex;
  gap: 39px;
  margin-top: 40px;
  margin-bottom: 110px;
}
section .main_section_one .salad_food .salad .available_food {
  width: 30.6%;
  height: 25vh;
  border-radius: 20px;
  transition: 0.5s;
}
section .main_section_one .salad_food .salad .available_food:hover {
  transform: scale(1.2);
  z-index: 1;
}
section .main_section_one .salad_food .salad .available_food .available_food_image {
  width: 100%;
  height: 100%;
  position: relative;
}
section .main_section_one .salad_food .salad .available_food .available_food_image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
section .main_section_one .salad_food .salad .available_food .available_food_image p {
  width: 24%;
  height: 18%;
  background: #DBDED9;
  margin-top: -34px;
  margin-left: 0px;
  position: absolute;
  text-align: center;
  padding-top: 8px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
section .main_section_one .salad_food .salad .available_food .available_food_description {
  margin-top: 12px;
}
section .main_section_one .salad_food .salad .available_food .available_food_description .available_food_description_sub1 h1 {
  font-size: 19px;
}
section .main_section_one .salad_food .salad .available_food .available_food_description .available_food_description_sub2 {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
section .main_section_one .salad_food .salad .available_food .available_food_description .available_food_description_sub2 span {
  color: #9EA1A1;
}
section .main_section_one .Drinks_grupe {
  display: none;
  width: 92%;
  margin-left: 3%;
}
section .main_section_one .Drinks_grupe .drinks {
  display: flex;
  gap: 39px;
  margin-top: 40px;
  margin-bottom: 110px;
}
section .main_section_one .Drinks_grupe .drinks .available_food {
  width: 30.6%;
  height: 25vh;
  border-radius: 20px;
  transition: 0.5s;
}
section .main_section_one .Drinks_grupe .drinks .available_food:hover {
  transform: scale(1.2);
  z-index: 1;
}
section .main_section_one .Drinks_grupe .drinks .available_food .available_food_image {
  width: 100%;
  height: 100%;
  position: relative;
}
section .main_section_one .Drinks_grupe .drinks .available_food .available_food_image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
section .main_section_one .Drinks_grupe .drinks .available_food .available_food_image p {
  width: 24%;
  height: 18%;
  background: #DBDED9;
  margin-top: -34px;
  margin-left: 0px;
  position: absolute;
  text-align: center;
  padding-top: 8px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
section .main_section_one .Drinks_grupe .drinks .available_food .available_food_description {
  margin-top: 12px;
}
section .main_section_one .Drinks_grupe .drinks .available_food .available_food_description .available_food_description_sub1 h1 {
  font-size: 19px;
}
section .main_section_one .Drinks_grupe .drinks .available_food .available_food_description .available_food_description_sub2 {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
section .main_section_one .Drinks_grupe .drinks .available_food .available_food_description .available_food_description_sub2 span {
  color: #9EA1A1;
}
section .main_section_two {
  width: 25%;
  background: rgba(173, 173, 172, 0.144);
  margin-top: 60px;
}
section .main_section_two h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #DE590B;
  margin-top: 2px;
}
section .main_section_two .main_image {
  width: 64%;
  height: 30vh;
  margin: 20px 0 0 72px;
}
section .main_section_two .main_image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
section .main_section_two .main_btn {
  margin: 12.4em 0 0 50px;
  border-radius: 10px;
}
section .main_section_two .main_btn button {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  font-size: 25px;
  padding: 20px;
  border-radius: 10px;
  text-transform: capitalize;
  border: none;
  outline: none;
  color: #FFFFFF;
  background: #FA801B;
  letter-spacing: 0.1em;
  cursor: pointer;
}
section .main_section_two .main_btn button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 127, 210, 0.762);
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
section .main_section_two .main_btn button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  border-radius: 10px;
}
section .main_section_two .main_btn button span {
  display: inline-block;
  z-index: 2;
}

.main {
  height: 100vh;
  background: rgba(50, 40, 40, 0.403);
  background-image: url(/pics/4.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}
.main .ditele_info {
  display: flex;
  width: 80%;
  margin-left: 10%;
  height: 85vh;
  margin-top: 3.5em;
}
.main .ditele_info .description {
  width: 50%;
  background-image: url(/pics/11.jpg);
  background-color: rgb(208, 250, 21);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.main .ditele_info .description h1 {
  width: 50%;
  margin-left: 25%;
  margin-top: 35px;
  border-radius: 20px;
  padding: 20px;
  border: 5px solid #FFFFFF;
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
}
.main .ditele_info .description .sub_description {
  display: flex;
  gap: 20px;
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
}
.main .ditele_info .description .sub_description .quality {
  width: 50%;
  height: 15em;
  background-color: transparent;
  box-shadow: 0 0 20px rgb(9, 9, 9);
  text-align: center;
  border-radius: 10px;
}
.main .ditele_info .description .sub_description .quality p {
  margin-top: 130px;
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
  color: #FFFFFF;
  text-align: center;
}
.main .ditele_info .description .sub_description .fast {
  width: 50%;
  height: 15em;
  background-color: transparent;
  box-shadow: 0 0 20px rgb(9, 9, 9);
  text-align: center;
  border-radius: 10px;
}
.main .ditele_info .description .sub_description .fast p {
  text-align: center;
  margin-top: 130px;
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
  color: #FFFFFF;
}
.main .ditele_info .description span {
  position: absolute;
  font-size: 23px;
  margin: 5em 0 0 3em;
  letter-spacing: 2px;
}
.main .ditele_info .description span a {
  color: #FFFFFF;
}
.main .ditele_info form {
  position: relative;
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 50%;
}
.main .ditele_info form h1 {
  font-size: 40px;
  color: rgba(244, 149, 17, 0.5333333333);
  margin-top: 50px;
  margin-bottom: 60px;
}
.main .ditele_info form .icon {
  position: absolute;
  width: 23px;
  margin: 48px 0 0 100px;
  padding-left: 7px;
  align-items: center;
  font-size: 25px;
  /* background: red; */
}
.main .ditele_info form input {
  width: 70%;
  height: 10%;
  margin: 5% 0 0 1%;
  padding-left: 50px;
  border-radius: 10px;
  background: rgba(18, 127, 210, 0.399);
  border: none;
  font-size: 20px;
  color: #FFFFFF;
}
.main .ditele_info form input:focus {
  border: 1px red;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
}
.main .ditele_info form input::-moz-placeholder {
  font-size: 15px;
  font-weight: 600;
  padding-top: 3px;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
}
.main .ditele_info form input:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 600;
  padding-top: 3px;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
}
.main .ditele_info form input::placeholder {
  font-size: 15px;
  font-weight: 600;
  padding-top: 3px;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
}
.main .ditele_info form button {
  width: 60%;
  height: 10%;
  margin: 7% 0 0 2.8%;
  border-radius: 10px;
  font-size: 25px;
  background: rgba(203, 119, 10, 0.43);
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: #FFFFFF;
}
.main .ditele_info form p {
  font-size: 20px;
  margin: 40px 0 0 30px;
  letter-spacing: 1px;
  gap: 10px;
}
.main .ditele_info form p a {
  color: rgba(244, 149, 17, 0.5333333333);
}/*# sourceMappingURL=style.css.map */